@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}


<div style="margin-top: 120px" class="row justify-content-center">
    <div class="col-md-4">
        <h2 style="margin-bottom: 20px; margin-left: 20px; font-family: Arial, 'Helvetica Neue', HelveticaNeue; font-size: 35px; font-weight: 700" style="margin-bottom: 20px">Nhập Email của bạn</h2>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div style="margin-bottom: 20px" class="form-floating">
                <input asp-for="Input.Email" class="form-control" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button style="background-color: black"  type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
